@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  scrollbar-width: none; 
  background-color: #13131E;
}

.ci-internal-ldauvpw,
.cl-userButtonPopoverFooter,
.cl-internal-d50gl1 .cl-footer,
.cl-internal-1dauvpw {
  display: none;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge, and Opera */
}